# Dependencies
node_modules/

# Secrets & Configs
.env
.env.local
.env.development
.env.test
.env.production
.env.*
!.env.example

# Logs
*.log
logs/

# Prisma
/prisma/migrations/*
!/prisma/migrations/

# OS & Editor
.DS_Store
Thumbs.db
.vscode/
.idea/
